.navbar {
  position: relative;
  padding: 2rem;
  border-bottom: 2px solid rgba(183, 180, 0, 0.366);
  border-right: 3px solid rgb(37, 167, 37);
  z-index: 1;
}

.navbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/logo/logo-hariniza.jpg') repeat;
  background-size: 50px 50px;
  opacity: 0.2; /* Ajusta la opacidad según sea necesario */
  z-index: -1; /* Coloca la pseudo-clase detrás del contenido del navbar */
}

.navbar-phrase {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.8rem;
  color: #5e3c3c;
  font-weight: bold;
  position: relative;
  z-index: 2;
}
.nav-link {
  color: #1c1515;
  font-size: 20px;
  font-family: monospace;
}
.nav-link:hover {
  border: 2px solid #d14408;
  border-radius: 6px;
}
